<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/style.css">
    <title>Feature Selection</title>
  </head>
  <body>
    <div class="main-container">
        <img class="mb-4" src="/static/pytorch.png" alt="PyTorch" width="80">
        <h1>Choose a Feature</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
          <select class="form-control mb-3" id="feature" name="feature">
              <option value="image">Image Classification</option>
              <option value="sentiment">Sentiment Analysis</option>
              <option value="chat">Chat with Mistral-7B</option>
          </select>

          <div id="textInput" style="display: none;">
              <textarea name="text" class="form-control" rows="4" placeholder="Enter a sentence for sentiment analysis"></textarea>
          </div>

          <div id="fileInput" style="display: none;">
              <input type="file" name="file" class="form-control-file" id="inputfile">
          </div>

          <br/>
          <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </form>
    </div>

    <script>
      document.getElementById('feature').addEventListener('change', function() {
          var feature = this.value;
          if (feature === 'sentiment') {
              document.getElementById('textInput').style.display = 'block';
              document.getElementById('fileInput').style.display = 'none';
          } else if (feature === 'image') {
              document.getElementById('textInput').style.display = 'none';
              document.getElementById('fileInput').style.display = 'block';
          } else if (feature === 'chat') {
              document.getElementById('textInput').style.display = 'none';
              document.getElementById('fileInput').style.display = 'none';
          }
      });
    </script>
  </body>
</html>
